apiVersion: v1
kind: Service
metadata:
  name: message-broker-service
  namespace: hotel-booking
spec:
  type: ClusterIP
  selector:
    app: message-broker
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
    - name: management
      port: 15672
      targetPort: 15672
